# Proxy domain name
VIRTUAL_HOST=terminal.example.com

# Proxy backend protocol
VIRTUAL_PROTO=https

# Same as above for SSL
LETSENCRYPT_HOST=terminal.example.com

# Email
LETSENCRYPT_EMAIL=myemail@email.com

# Terminal user
SIAB_USER=myuser

# Terminal password
SIAB_PASSWORD=mypassword